*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // overflow-x: hidden;
}
.services{
    // background-color: hsl(0, 0%, 60%);
    color: black;
    // height: 500px;
    width: 100%;

    h1{
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .container {
        position: relative;
        float: left;
        width: 33.33%;
        height: 50%;
        color: #000000;
        text-align: center;
        background-color: #fff;
        border:1px solid black;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        display: flex;
        transition: 0.3s;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.container:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

  i{
      font-size: 1.5rem;
  }
}
    
}

