<<<<<<< HEAD
@import "./Component/galery.scss" 
=======
*{
  margin: 0;
  padding: 0;
}
.navbar{
	position: relative;
	width: 100%;
	height: 80px;
	background-color: #f8faff;
	
}
.navbar .navbar-img{
	position: absolute;
	top:15px;
	left:7.5%;
	width: 100px;
	z-index:1;
}
.navbar h1{
  position: absolute;
  top:200px;
  left:30%;
  font-size: 100px;
  color: white;
  z-index: 1;
  border-top:2px solid white;
  border-bottom:2px solid white;
}
.slider-about{
	position:relative;
	margin-top:-19px;
	width: 100%;
	height: 353px;
	background-color: #777777;
}
.slider-about img{
	position:absolute;
	width:100%;
	height:100%;
}
.About-firm{
  position:relative;
	width:100%;
	height:1500px;
	background-color:#f8faff;
}
.About-firm h1{
  position: relative;
  top:50px;
  font-size: 45px;
  
}
.About-over{
	position:absolute;
	top:60px;
	left:6.5%;
	width:390px;
	height:1200px;
	background-color:#528c7c;
}
.About-over .lead:nth-of-type(1),.lead:nth-of-type(2){
	color:white;
	position:absolute;
	left:8%;
	top:40px;
}
.About-over .lead:nth-of-type(2){
	top:330px;
}
.About-over .line-about:nth-of-type(1),.line-about:nth-of-type(2){
	position:absolute;
	width:84%;
	height:1px;
	background-color:white;
	top:100px;
	left:8%;
}
.About-over .line-about:nth-of-type(2){
	top:390px;
}
.About-over .lead-para:nth-of-type(1),.lead-para:nth-of-type(2){
	position:absolute;
	left:8%;
	width:84%;
	color:white;
	top:130px;
}
.About-over .lead-para:nth-of-type(2){
	top:420px;
}
.About-over .lead-ul {
	position:absolute;
	top:250px;
	left:8%;
	font-size:16px;
	font-weight:bolder;
	list-style:none;
}
.About-over .lead-ul li a{
	color:#55bfac;
}




.About-firm .about-all-data{
	position:absolute;
	top:60px;
	right:8%;
	width:55%;
	height:1200px;
}
.about-all-data .about-heading:nth-of-type(1),.about-heading:nth-of-type(2),.about-heading:nth-of-type(3),.about-heading:nth-of-type(4),.about-heading:nth-of-type(5),.about-heading:nth-of-type(6){
	position:absolute;
	left:2%;
	color:black;
	top:20px;
}
.about-heading:nth-of-type(2){
	top:170px;
}
.about-heading:nth-of-type(3){
	top:280px;
}
.about-heading:nth-of-type(4){
	top:380px;
}
.about-heading:nth-of-type(5){
	top:540px;
}
.about-heading:nth-of-type(6){
	top:900px;
}
.about-all-data .about-hr{
	position:relative;
	top:60px;
}
.about-all-data .about-para:nth-of-type(1),.about-para:nth-of-type(2),.about-para:nth-of-type(3),.about-para:nth-of-type(4),.about-para:nth-of-type(5),.about-para:nth-of-type(6){
	position:absolute;
	top:100px;
	left:2%;
}
.about-para:nth-of-type(2){
	top:225px;
}
.about-para:nth-of-type(3){
	top:330px;
}
.about-para:nth-of-type(4){
	top:430px;
}
.about-para:nth-of-type(5){
	top:600px;
}
.about-para:nth-of-type(6){
	top:970px;
	font-size:22px;
	font-family:italic;
	border-left:8px solid ;
	padding-left:10px;
	text-align:justify;
}
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

@import './components/Services';


@import './components/hero';
.app {
  color: red;
}
@import './_nav'; 
>>>>>>> 2058ca7dee46c140f92878fdc98291f11b286cac
