.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
  img{
      height: 100px;
      width: 100%;
  }
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}